<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body bgcolor="cyan">
	<center>
	<h1>database information</h1>
	<table border="2px">
<tr>
	<td><b>name</b></td>
	<td><b>roll</b></td>
	<td><b>marks</b></td>
	<td><b>dob</b></td>
	<td><b>e-mail</b></td>
</tr>
{%for i in stud%}
<tr>
	<td>{{i.name}}</td>
	<td>{{i.roll}}</td>
	<td>{{i.marks}}</td>
	<td>{{i.dob}}</td>
	<td>{{i.email}}</td>
</tr>
{%endfor%}
</table>
</center>
</body>
</html>